.padding-card-small {
  padding: 1rem;
}

.perfil {
  &__cartao-almoca {

    padding: 2rem;
    
    &--radio {
      text-align: center;
      margin-top: 2rem;
      
    }
    
    &--titulo {
      @extend .center;
      @extend .almocai-text;
      @extend .text-azul;
    }

    .radio-azul {
      [type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
        border: 2px solid $secondary-color !important;
      }
      [type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
        background-color: $secondary-color !important;
      }
      [type="radio"]:not(:checked) + span::before, [type="radio"]:not(:checked) + span::after {
        border: 2px solid $secondary-color !important;
      }
    }

  }

  &__cartao-proteina {
    padding: 2rem;

    &--titulo {
      @extend .center;
      @extend .nunito;
      @extend .almocai-text;
      @extend .text-amarelo; 
    }

    &--select {
      .select-wrapper input.select-dropdown:focus {
        border-bottom: 1px solid $tertiary-color;
      }
      .dropdown-content li > a, .dropdown-content li > span {
          color: $tertiary-color;
      }
      .select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
        color: rgba(0,0,0,0.3) !important;
      }
    }

  }

  &__cartao-intolerancia {

    padding: 2rem;

    &--titulo {
      @extend .center;
      @extend .almocai-text;
    }

  }

  &__cartao-alterar-senha {

    padding: 2rem;

    &--titulo {
      @extend .center;
      @extend .almocai-text;
    }

  }  

}

.errado {
  .input-field label {
    color: $quaternary-color !important;
  }
  .input-field input[type=text]:focus + label {
    color: $quaternary-color !important;
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $quaternary-color !important;
    box-shadow: 0 1px 0 0 $quaternary-color !important;
  }
  .input-field input[type=text].valid {
    border-bottom: 1px solid $quaternary-color !important;
    box-shadow: 0 1px 0 0 $quaternary-color !important;
  }
  .input-field input[type=text].invalid {
    border-bottom: 1px solid $quaternary-color !important;
    box-shadow: 0 1px 0 0 $quaternary-color !important;
  }
  .input-field .prefix.active {
    color: $quaternary-color !important;
  }
}